/* Navbar Rossa - Pre Login */
.navbar {
    background-color: #71181f; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-family: 'Roboto', sans-serif;
    position: fixed; /* Fissa la navbar in alto */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #009dff; 
    color: white;
}
