#wrapper { 
    background: #fff;
    min-width: 360px;
    max-width: 660px;
    width: 42%;
    padding: 70px;
    border-radius: 25px;
    box-shadow: 0 0 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item {
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #888;
}

button {
    cursor: pointer;
}
#login-btn {
    background-color: #009dff;
    color: #fff;
}

#signup-btn {
    background-color: transparent;
    color: #009dff;
    border: none;
}

h1 {
    color: #71181f;
}

button:hover {
    filter: brightness(1.15);
}

#signup-btn:hover {
    background-color: #d5d5d5;
}
#back-to-home {
    height: 40px;
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #009dff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Animazione morbida */
}

#back-to-home:hover {
    background-color: #006bbf; /* Cambia colore dello sfondo */
    color: #ffffff; /* Cambia colore del testo */
}
#signupbttn {
    background-color: #009dff;
    color: #fff;
}