form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item {
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #888;
}
.pwd-alert {
    font-size: 0.9rem;
    color: gray;
    margin-top: -10px;
    margin-bottom: 10px;
}

#login-btn {
    background-color: #009dff;
    color: #fff;
}

#signup-btn {
    background-color: transparent;
    color: #009dff;
    border: none;
}

h1 {
    color: #71181f;
}

#signup-btn:hover {
    background-color: #d5d5d5;
}
#back-to-home {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #009dff;
    border: none;
    border-radius: 8px;
    
}

#back-to-home:hover {
    background-color: #006bbf; 
    color: #ffffff; 
}
#signupbttn {
    background-color: #009dff;
    color: #fff;
}