
/* File: css/modale.css */

/* Modale intera, nascosta per default */
.modale {
    display: none; /* La modale viene mostrata solo quando attiva */
    position: fixed;
    z-index: 9999; /* Assicura che la modale sia sopra a tutti gli altri elementi */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;  /* Permette lo scorrimento se il contenuto della modale è troppo lungo */
    background-color: rgba(0, 0, 0, 0.4); /* Sfondo semi-trasparente */
}

/* Contenitore dei bottoni all'interno della modale */
.modal-button-container {
    margin-top: 20px;
    text-align: center;
}

/* Stili per il bottone di acquisto all'interno della modale */
#btn-acquista-figurine {
    padding: 5px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

#btn-acquista-figurine:hover {
    background-color: #45a049;
}

/* Contenuto principale della modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centra verticalmente la modale (approssimativamente) */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    z-index: 10000; /* Ulteriore protezione per farla stare sopra */
}

/* Stili per l'header della modale */
.modal-header {
    display: flex;
    flex-direction: column;
}

/* Configurazione per il container dei crediti nella modale */
.modal-credit-container {
    flex-direction: row;
    height: 25px;
}

/* Stile per il testo dei crediti nella modale */
.modal-credit-container .ncrediti {
    font-size: 1rem;
}

/* Stile per il bottone di chiusura della modale */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
