/* STILI GENERALI */
button {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* BACKGROUND MODALE */
.modale {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENUTO MODALE */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    min-width: 320px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* HEADER DELLA MODALE */
.modal-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* SEZIONE CREDITI NELLA MODALE */
.modal-credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.modal-credit-container .ncrediti {
    font-size: 1.2rem;
    font-weight: bold;
    color: #009dff;
}

/* BOTTONE CHIUDI MODALE */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/* BOTTONE ACQUISTO FIGURINE */
#btn-acquista-figurine {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

#btn-acquista-figurine:hover {
    background-color: #45a049;
}

/* BOTTONE ACQUISTO PACCHETTI E CREDITI */
.package-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
    align-items: center;
}

.package-btn {
    padding: 12px;
    border: 2px solid #009dff;
    border-radius: 10px;
    background: transparent;
    color: #009dff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.package-btn:hover {
    background: #009dff;
    color: white;
}

/* INPUT PER SELEZIONE CREDITI */
#custom-crediti {
    width: 90%;
    max-width: 300px;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}