/* Stile per la pagina di modifica del profilo decisione di tenerla separata da login.css*/
button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, filter 0.3s;
}

#save-btn {
    background-color: #009dff;
    color: #fff;
}

#save-btn:hover {
    filter: brightness(1.15);
}
#delete-account-btn {
    background-color: #71181f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
#delete-account-btn:hover {
    filter: brightness(1.15);
}
h1 {
    color: #71181f;
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
