/* Navbar aggiornato per rimanere fissa e in cima */
.navbar {
    background-color: #71181f;
    color: whitesmoke;
    position: fixed;  /* Usa fixed per fissare la navbar in cima */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;    /* Maggiore dei container sottostanti */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px whitesmoke;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
}

.navbar nav {
    display: flex;
    gap: 20px;
}

.navbar nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar nav a:hover {
    color: #009dff;
}