/* foglio di stile caricato in tutte le pagine */

/* selettore: a cosa applicare le regole che seguono. */
/* in questo caso il tag <body> */ 
body {
    /* regola: un aspetto grafico stilizzato */
    /* in questo caso lo sfondo del <body> */
    background-image: url(../img/marvelbkg.jpg);
    /* regola la dimensione dello sfondo relativamente al dispositivo senza distorcerlo */
    background-size: contain;
    background-repeat: round;
    /* flexbox: serve a disporre in riga e colonna gli elementi figli (in questo caso figli di body) */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Animazione */
}

button:hover {
    filter: brightness(1.15);
}
.sec-btn {
    background-color: transparent;
    color: #009dff;
    border: none;
}
.sec-btn:hover {
    background-color: #d5d5d5;
}
.main-btn {
    background-color: #009dff;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item {
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #888;
}
* {
    box-sizing: border-box;

}
.credit-container {
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: stretch;
}
.credit-subcontainer {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
.buy-icon {
    font-size: 1rem;
    color: #009dff;
}

.coin-icon {
    color: greenyellow;
}
/* Footer */
footer {
    background: white; /* Colore */
    color: black; /* Testo nero */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}