/* Descrizione */
.description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
}

/* Contenitore dei pulsanti */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Pulsanti */
#login-btn, #signup-btn {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #009dff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

#login-btn:hover, #signup-btn:hover {
    filter: brightness(1.2);
}

/* Footer */
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}