body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contenuto principale */
#home-container {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    max-width: 800px;
}

#home-container h1 {
    font-size: 2.5rem;
    color: #009dff;
    margin-bottom: 20px;
}

#home-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #009dff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #006bbf;
}

/* Footer */
footer {
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}